$couleur_primaire_client: #3157A3;
$couleur_primaire_vendeur: #6B31D0;
$couleur_background: #FFFFFF;
$nuance_primaire_client: #CBCCEA;
$nuance_primaire_vendeur: #C3C1F5;
$nuance: #A6A6BF;
$focus: #BB2BB2;
$couleur_prix: #2E7A30;
$couleur_liens: #3157A3;
$couleur_etoile: #EAC452;
$rouge: #E43737;


$angle_grand: 50px;
$angle_normal: 20px;
$angle_petit: 5px;

$font_size_grand: 2em;
$font_size_sup: 1.5em;
$font_size_normal: 1em;
$font_size_petit: 0.7em;

$padding_normal: 2em;


