@use "style_const.scss" as *;

@mixin contenu_centre_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin contenu_centre_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin header($background) {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.5em 1em;
    background-color: $background;
    
    * {
        font-family: $font_title;
        font-weight: bold;
    }

    > div {
        @include contenu_centre_horizontal();
        justify-content: space-between;

        > a > img {
            height: 30px;
        }

        > ul {
            @include contenu_centre_horizontal();
            list-style: none;
            margin: 0;

            > li {
                > a {
                    @include contenu_centre_horizontal();
                    margin: 0 1em;

                    color: white;
                    text-decoration: none;
                }

                > .dropdown {
                    position: relative;
                    display: inline-block;

                    margin: 0 1em;
                    font-size: $font_size_normal;

                    > .dropdown-button {
                        @include contenu_centre_horizontal();
                        
                        font-size: $font_size_normal;
                        background-color: $background;
                        color: white;
                        border: none;
                        cursor: pointer;
                    }

                    > .dropdown-content {
                        display: none;

                        position: absolute;
                        top: 2.5em;
                        right: 0;

                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
                        z-index: 1;

                        background-color: #ffffff;
                        border-radius: 5px;

                        > a {
                            @include contenu_centre_horizontal();

                            padding: 0.25em 0.5em;
                            text-decoration: none;
                            color: black;
                            font-weight: bold;

                            border-radius: 5px;

                            &:hover {
                                background-color: #ECEDF9;
                            }
                        }
                    }

                    > .show {
                        display: block;
                    }
                }
            }
        }
    }
}

@mixin image_produit($taille, $angle: $angle_petit) {
    object-fit: contain;
    background-color: $couleur_fond_produit;
    width: $taille;
    height: $taille;
    border-radius: $angle;
}

@mixin bouton {
    border: none;
    border-radius: $angle_grand;
    padding: 0.5em 2em;
    font-weight: bold;
    align-self: center;
}

@mixin bouton_new($background: $focus, $color: black, $largeur: auto, $padding: 1em, $size: 1em, $angle: $angle_petit) {
    display: block;
    max-width: 100%;

    width: $largeur;
    padding: $padding;

    font-family: $font_title;
    font-size: $size;
    font-weight: bold;
    
    background-color: $background;
    color: $color;

    border: none;
    border-radius: $angle;

    text-decoration: none;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: adjust-color($color: $background, $lightness: 15%);
    }
}

@mixin image_pp($taille) {
    height: $taille;
    width: $taille;
    border-radius: $taille;
    object-fit: cover;
}

// mixin pour les formulaire, donc qui contient des labels, des champs, et un bouton (eventuellement des erreurs / contraintes)
@mixin formulaire {
    align-items: normal;
    width: 100%;

    label {
        margin-top: 2%;
        @media (max-width: 1440px) {
            margin-top: 5%;
        }   
        font-size: $font_size_sup;
    }

    .champ {
        border: none;
        border-radius: $angle_petit;
        height: 2em;
        font-size: $font_size_normal;
        padding-left: 0.6em;
        padding-right: 0;
    }
    
    // pour les champs avec beaucoup de texte (ex : description)
    .text {
        height: 10em;
        text-align: start;
    }

    .petit {
        width: 30%;
    }


    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
    

    // généralement contraintes et erreurs
    p {
        font-size: $font_size_petit;
        margin: 0.4% 0;
    }

    .error{
        color: $rouge;
    }
}

@mixin page_connect_inscription($background, $nuance) {
    background-color: $background;

    @include contenu_centre_vertical;

    main {
        @include contenu_centre_vertical;

        background-color: $nuance;
        row-gap: 1em;
        border-radius: $angle_normal; 
        padding: $padding_normal;
        width: 30vw;
        @media (max-width: 1440px) {
            width: 60vw;
        }
        

        img {
            width: 18vw;
            @media (max-width: 1440px) {
                width: 50vw;
            }
        }

        h2 {
            font-size: $font_size_grand;
            margin: 0
        }

        form {
            @include contenu_centre_vertical;
            @include formulaire;
        }

        .bouton {
            @include bouton_new($focus, $color: white, $padding: 0.75em 1em, $size: 1em, $angle: $angle_grand);
        }
    }
}

@mixin entete_page_vendeur{
    .entete{
        display: flex;
        align-items: center;
        a{
            height: 24px;
            margin-right: 50px;
        }
        h1{
            margin-right: 30px;
        }
    }
}

@mixin format_textarea_p_select_input_form{
    #idDescDetaille,#idDescSimple{
        width: 600px;
        height: 200px;
        resize: vertical;
    }
    p{
        display: flex;
        flex-direction: column;
    }
    select{
        height: 32px;
        width: fit-content;
    }
    input[type="text"], input[type="number"]{
        height: 25px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 600px;
    }
}

@mixin en_ligne{
    display: flex;
    flex-direction: row;
    gap: 70px;
}