@use "style_const.scss" as *;

@mixin contenu_centre_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin contenu_centre_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin bouton {
    border: none;
    border-radius: $angle_grand;
    padding: 1vh 2vw;
}

@mixin page_connect_inscription($background, $background_main) {
    background-color: $background;
    height: 100vh;

    @include contenu_centre_vertical;

    main {
        @include contenu_centre_vertical;

        background-color: $background_main;
        row-gap: 1em;
        border-radius: $angle_normal; 
        padding: $padding_normal;
        width: 30vw;

        img {
            width: 18vw;
        }

        h2 {
            font-size: $font_size_grand;
            margin: 0
        }

        form {
            @include contenu_centre_vertical;
            align-items:baseline;
            width: 100%;

            label {
                margin-top: 2vh;
                font-size: $font_size_sup;
            }

            .champ {
                border: none;
                border-radius: $angle_petit;
                width: 100%;
                height: 1.8em;
                font-size: $font_size_sup;
            }


            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
            
            .bouton {
                @include bouton;
                align-self: center;
                background-color: $focus;
                color: white;
                font-size: $font_size_grand;
                margin-top: 2vh;
            }

            p {
                font-size: $font_size_petit;
                margin: 0;
            }

            .error{
                color: $rouge;
            }
        }
    }
}

body{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

.icon {
    height: 25px;
    margin: 0 8px 0 0;
}

#header_client {
    
    padding: 0 0.5em;
    background-color: #3157A3;
    
    * {
        font-family: 'Montserrat';
        font-weight: bold;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        > a > img {
            height: 30px;
        }

        > form {
            input[type=search] {
                background-image: url(images/loupe.svg);
                background-repeat: no-repeat;
                background-position: left center;

                height: 2.5em;
                padding: 0.5em 0.5em 0.5em 2.5em;
                border-radius: 20px;
                border: none;
            }
        }

        > ul {
            display: flex;
            list-style: none;

            > li {
                > a {
                    display: flex;
                    align-items: center;
                    margin: 0 1em;

                    color: white;
                    text-decoration: none;
                }

                > .dropdown {
                    position: relative;
                    display: inline-block;

                    font-size: 16px;

                    > .dropdown-button {
                        display: flex;
                        align-items: center;
                        
                        font-size: 16px;
                        background-color: #3157A3;
                        color: white;
                        border: none;
                        cursor: pointer;
                    }

                    > .dropdown-content {
                        display: none;

                        position: absolute;
                        top: 2.5em;
                        right: 0.5em;

                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
                        z-index: 1;

                        background-color: #ffffff;
                        border-radius: 5px;

                        > a {
                            display: flex;
                            align-items: center;

                            padding: 0.25em 0.5em;
                            text-decoration: none;
                            color: black;
                            font-weight: bold;

                            border-radius: 5px;

                            &:hover {
                                background-color: #ECEDF9;
                            }
                        }
                    }

                    > .show {
                        display: block;
                    }
                }
            }
        }

        
    }
}

#connect_vendeur, #inscription_vendeur{
    @include page_connect_inscription($couleur_primaire_vendeur, $nuance_primaire_vendeur);
}

#connect_vendeur, #connect_client{
    justify-content: center;
    overflow-y: hidden;
}

#connect_client, #inscription_client{
    @include page_connect_inscription($couleur_primaire_client, $nuance_primaire_client);
}

#inscription_vendeur, #inscription_client{
    height: 100%;
    main{
        margin: 15vh 0;
    }
}


#header_vendeur{
    background-color: $couleur_primaire_vendeur;
    list-style: none;

    >div:first-child{
        @include contenu_centre_horizontal();
        padding: 3px 40px;
        height: 50px;
        
        >a{
           img{
            height: 40px;
           } 
        }

        >nav{
            ul{
                margin: 0;
                li{
                    background-color: $nuance_primaire_vendeur;
                    color: black;
                    padding: 5px 10px;
                    border-radius: $angle_grand;
                }
            }
        }

        >ul{
            position: absolute;
            right: 40px;

            @include contenu_centre_horizontal();
            margin: 0;
            color: white;
            
        }

        li{
            @include contenu_centre_horizontal();
        }
        
        a{
            text-decoration: none;
        }
    }
}