.formulaire_client {
  align-items: normal;
  width: 100%;
}
.formulaire_client label {
  margin-top: 2%;
  font-size: 1.5em;
}
@media (max-width: 1440px) {
  .formulaire_client label {
    margin-top: 5%;
  }
}
.formulaire_client .champ {
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: 0.6em;
  padding-right: 0;
}
.formulaire_client .text {
  height: 10em;
  text-align: start;
}
.formulaire_client .petit {
  width: 30%;
}
.formulaire_client input[type=number]::-webkit-inner-spin-button,
.formulaire_client input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formulaire_client input[type=number] {
  -moz-appearance: textfield;
}
.formulaire_client p {
  font-size: 0.75em;
  margin: 0.4% 0;
}
.formulaire_client .error {
  color: #E43737;
}

body {
  font-family: "Inter";
  padding: 0;
  margin: 0;
}

main {
  padding: 1em;
}

.icon {
  height: 25px;
  margin: 0 8px 0 0;
}

#header_client {
  position: sticky;
  top: 0;
  padding: 0.5em 1em;
  background-color: #3157A3;
}
#header_client * {
  font-family: "Montserrat";
  font-weight: bold;
}
#header_client > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#header_client > div > a > img {
  height: 30px;
}
#header_client > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
}
#header_client > div > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
  color: white;
  text-decoration: none;
}
#header_client > div > ul > li > .dropdown {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  font-size: 1em;
}
#header_client > div > ul > li > .dropdown > .dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  background-color: #3157A3;
  color: white;
  border: none;
  cursor: pointer;
}
#header_client > div > ul > li > .dropdown > .dropdown-content {
  display: none;
  position: absolute;
  top: 2.5em;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
}
#header_client > div > ul > li > .dropdown > .dropdown-content > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
#header_client > div > ul > li > .dropdown > .dropdown-content > a:hover {
  background-color: #ECEDF9;
}
#header_client > div > ul > li > .dropdown > .show {
  display: block;
}
#header_client form input[type=search] {
  background-image: url(images/loupe.svg);
  background-repeat: no-repeat;
  background-position: left center;
  height: 2.5em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  border-radius: 20px;
  border: none;
}

#header_vendeur {
  position: sticky;
  top: 0;
  padding: 0.5em 1em;
  background-color: #6B31D0;
}
#header_vendeur * {
  font-family: "Montserrat";
  font-weight: bold;
}
#header_vendeur > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#header_vendeur > div > a > img {
  height: 30px;
}
#header_vendeur > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
}
#header_vendeur > div > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
  color: white;
  text-decoration: none;
}
#header_vendeur > div > ul > li > .dropdown {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  font-size: 1em;
}
#header_vendeur > div > ul > li > .dropdown > .dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  background-color: #6B31D0;
  color: white;
  border: none;
  cursor: pointer;
}
#header_vendeur > div > ul > li > .dropdown > .dropdown-content {
  display: none;
  position: absolute;
  top: 2.5em;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
}
#header_vendeur > div > ul > li > .dropdown > .dropdown-content > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
#header_vendeur > div > ul > li > .dropdown > .dropdown-content > a:hover {
  background-color: #ECEDF9;
}
#header_vendeur > div > ul > li > .dropdown > .show {
  display: block;
}

#connect_vendeur, #inscription_vendeur {
  background-color: #6B31D0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#connect_vendeur main, #inscription_vendeur main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C3C1F5;
  row-gap: 1em;
  border-radius: 20px;
  padding: 2em;
  width: 30vw;
}
@media (max-width: 1440px) {
  #connect_vendeur main, #inscription_vendeur main {
    width: 60vw;
  }
}
#connect_vendeur main img, #inscription_vendeur main img {
  width: 18vw;
}
@media (max-width: 1440px) {
  #connect_vendeur main img, #inscription_vendeur main img {
    width: 50vw;
  }
}
#connect_vendeur main h2, #inscription_vendeur main h2 {
  font-size: 2em;
  margin: 0;
}
#connect_vendeur main form, #inscription_vendeur main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: normal;
  width: 100%;
}
#connect_vendeur main form label, #inscription_vendeur main form label {
  margin-top: 2%;
  font-size: 1.5em;
}
@media (max-width: 1440px) {
  #connect_vendeur main form label, #inscription_vendeur main form label {
    margin-top: 5%;
  }
}
#connect_vendeur main form .champ, #inscription_vendeur main form .champ {
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: 0.6em;
  padding-right: 0;
}
#connect_vendeur main form .text, #inscription_vendeur main form .text {
  height: 10em;
  text-align: start;
}
#connect_vendeur main form .petit, #inscription_vendeur main form .petit {
  width: 30%;
}
#connect_vendeur main form input[type=number]::-webkit-inner-spin-button,
#connect_vendeur main form input[type=number]::-webkit-outer-spin-button, #inscription_vendeur main form input[type=number]::-webkit-inner-spin-button,
#inscription_vendeur main form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#connect_vendeur main form input[type=number], #inscription_vendeur main form input[type=number] {
  -moz-appearance: textfield;
}
#connect_vendeur main form p, #inscription_vendeur main form p {
  font-size: 0.75em;
  margin: 0.4% 0;
}
#connect_vendeur main form .error, #inscription_vendeur main form .error {
  color: #E43737;
}

#connect_vendeur, #connect_client {
  justify-content: center;
  overflow-y: hidden;
  height: 100vh;
}

#connect_client, #inscription_client {
  background-color: #3157A3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#connect_client main, #inscription_client main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CBCCEA;
  row-gap: 1em;
  border-radius: 20px;
  padding: 2em;
  width: 30vw;
}
@media (max-width: 1440px) {
  #connect_client main, #inscription_client main {
    width: 60vw;
  }
}
#connect_client main img, #inscription_client main img {
  width: 18vw;
}
@media (max-width: 1440px) {
  #connect_client main img, #inscription_client main img {
    width: 50vw;
  }
}
#connect_client main h2, #inscription_client main h2 {
  font-size: 2em;
  margin: 0;
}
#connect_client main form, #inscription_client main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: normal;
  width: 100%;
}
#connect_client main form label, #inscription_client main form label {
  margin-top: 2%;
  font-size: 1.5em;
}
@media (max-width: 1440px) {
  #connect_client main form label, #inscription_client main form label {
    margin-top: 5%;
  }
}
#connect_client main form .champ, #inscription_client main form .champ {
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: 0.6em;
  padding-right: 0;
}
#connect_client main form .text, #inscription_client main form .text {
  height: 10em;
  text-align: start;
}
#connect_client main form .petit, #inscription_client main form .petit {
  width: 30%;
}
#connect_client main form input[type=number]::-webkit-inner-spin-button,
#connect_client main form input[type=number]::-webkit-outer-spin-button, #inscription_client main form input[type=number]::-webkit-inner-spin-button,
#inscription_client main form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#connect_client main form input[type=number], #inscription_client main form input[type=number] {
  -moz-appearance: textfield;
}
#connect_client main form p, #inscription_client main form p {
  font-size: 0.75em;
  margin: 0.4% 0;
}
#connect_client main form .error, #inscription_client main form .error {
  color: #E43737;
}

#inscription_vendeur, #inscription_client {
  height: 100%;
}
#inscription_vendeur main, #inscription_client main {
  margin: 15% 0;
}

.form_client {
  overflow-x: hidden;
}
.form_client main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-top: 5%;
}
.form_client main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: normal;
  width: 100%;
  background-color: #CBCCEA;
  width: 30vw;
  border-radius: 20px;
  padding: 1em 3em 2em;
  font-size: 1em;
}
.form_client main form label {
  margin-top: 2%;
  font-size: 1.5em;
}
@media (max-width: 1440px) {
  .form_client main form label {
    margin-top: 5%;
  }
}
.form_client main form .champ {
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: 0.6em;
  padding-right: 0;
}
.form_client main form .text {
  height: 10em;
  text-align: start;
}
.form_client main form .petit {
  width: 30%;
}
.form_client main form input[type=number]::-webkit-inner-spin-button,
.form_client main form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form_client main form input[type=number] {
  -moz-appearance: textfield;
}
.form_client main form p {
  font-size: 0.75em;
  margin: 0.4% 0;
}
.form_client main form .error {
  color: #E43737;
}
.form_client main a {
  color: black;
  text-decoration: none;
}
.form_client main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CBCCEA;
  width: 30vw;
  height: 60%;
  border-radius: 20px;
  padding: 3em 3em;
  text-align: center;
}
.form_client main article h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
}
.form_client main article img {
  width: 40%;
  height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
}

#avis_vendeur section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#avis_vendeur section ul li {
  width: 1200px;
  list-style: none;
}
#avis_vendeur section ul li table {
  border-collapse: collapse;
}
#avis_vendeur section ul li table td {
  height: 100px;
  border: solid black 1px;
}
#avis_vendeur section ul li table tr:first-child td:nth-child(1), #avis_vendeur section ul li table tr:first-child td:nth-child(2), #avis_vendeur section ul li table tr:first-child td:nth-child(3) {
  width: 200px;
}
#avis_vendeur section ul li table tr:first-child td:nth-child(4) {
  height: 200px;
  width: 200px;
}
#avis_vendeur section ul li table tr:first-child td:nth-child(4) img {
  display: flex;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
}
.infos main {
  display: flex;
}
.infos form {
  display: flex;
  flex-direction: row-reverse;
  align-items: normal;
  width: 100%;
  width: 60vw;
  border-radius: 20px;
  padding: 3em 3em;
}
.infos form article {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
.infos form > :last-child {
  width: 100%;
}
.infos form label {
  margin-top: 2%;
  font-size: 1.5em;
}
@media (max-width: 1440px) {
  .infos form label {
    margin-top: 5%;
  }
}
.infos form .champ {
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: 0.6em;
  padding-right: 0;
}
.infos form .text {
  height: 10em;
  text-align: start;
}
.infos form .petit {
  width: 30%;
}
.infos form input[type=number]::-webkit-inner-spin-button,
.infos form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.infos form input[type=number] {
  -moz-appearance: textfield;
}
.infos form p {
  font-size: 0.75em;
  margin: 0.4% 0;
}
.infos form .error {
  color: #E43737;
}
.infos form .champ {
  border: rgba(0, 0, 0, 0.25) 1px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.avis {
  border: 1px solid black;
}
.avis div:first-child {
  display: flex;
  flex-direction: row;
}
.avis div:last-child {
  display: flex;
}
.avis td {
  align-items: center;
}
.avis td:first-child {
  display: flex;
}

.bouton {
  border: none;
  border-radius: 50px;
  padding: 0.5em 2em;
  font-weight: bold;
  align-self: center;
  background-color: #BB2BB2;
  color: white;
  font-size: 1em;
  margin-top: 2%;
}
@media (max-width: 1440px) {
  .bouton {
    margin-top: 5%;
  }
}

.grave {
  border: none;
  border-radius: 50px;
  padding: 0.5em 2em;
  font-weight: bold;
  align-self: center;
  background-color: #E43737;
  color: white;
}

.accueil > main > div {
  display: flex;
  flex-direction: column;
}
.accueil > main > div > ul {
  display: flex;
  flex-direction: row;
  overflow: auto;
  list-style: none;
}
.accueil > main > div > ul > li {
  width: 20vw;
  margin: 20px;
}
.accueil > main > div > ul > li img {
  width: 15vw;
  height: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.accueil > main > div > ul > li a {
  color: black;
  text-decoration: none;
}
.accueil > main > div > ul > li a > div > img {
  width: 20px;
  height: 20px;
}
.accueil > main > div > ul > li a > p, .accueil > main > div > ul > li a > h3 {
  margin: 0;
}

.prix {
  color: #2E7A30;
  font-size: 2.2em;
  font-weight: bold;
}

.HT {
  color: black;
}

.ancien_prix {
  color: black;
  text-decoration: line-through;
}

.produit_panier {
  display: flex;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

.liste main img {
  -o-object-fit: contain;
     object-fit: contain;
}
.liste main .entete {
  display: flex;
}
.liste main .entete > * {
  margin-right: 3em;
}
.liste main ul {
  width: 65vw;
}
.liste main ul li > article:nth-child(2) {
  width: 40vw;
}
.liste main ul li > article:nth-child(2) p {
  width: 90%;
}
.liste main li {
  padding: 1em 0;
}
.liste main img {
  padding-right: 3em;
}
.liste main hr {
  color: #9C9C9C;
}
.liste main h3 {
  font-size: 1.6em;
}
.liste main aside {
  position: fixed;
  right: 6em;
  top: 8em;
  font-size: 1.2em;
  width: 20vw;
}
.liste main aside .prix, .liste main aside p {
  font-size: 1.4em;
}
.liste main aside div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.liste main aside .bouton {
  width: 100%;
}/*# sourceMappingURL=style.css.map */