@use "style_const.scss" as *;

@mixin centre_comtenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin boutton{
    border: none;
    border-radius: $angle_grand;
    padding: 1vh 2vw;
}

@mixin page_connect_insciption($background, $background_main){
    background-color: $background;
    height: 100vh;

    @include centre_comtenu;

    main{
        background-color: $background_main;
        @include centre_comtenu;
        row-gap: 1em;
        border-radius: $angle_normal;
        padding: $padding_normal;
        width: 30vw;

        img{
            width: 18vw;
        }

        h2{
            font-size: $font_size_grand;
            margin: 0
        }

        form{
            @include centre_comtenu;
            align-items:baseline;
            width: 100%;

            label{
                margin-top: 2vh;
                font-size: $font_size_sup;
            }

            .champ{
                border: none;
                border-radius: $angle_petit;
                width: 100%;
                height: 1.5em;
                font-size: $font_size_sup;
            }
            
            .boutton{
                @include boutton;
                align-self: center;
                background-color: $focus;
                color: white;
                font-size: $font_size_grand;
                margin-top: 2vh;
            }

            p{
                font-size: $font_size_petit;
                margin: 0;
            }
            .contrainte{

            }

            .error{
                color: $rouge;
            }
        }
    }
}

body{
    font-family: 'Inter';
}

#connect_vendeur{
    @include page_connect_insciption($couleur_primaire_vendeur, $nuance_primaire_vendeur);
}

#inscription_vendeur{
    @include page_connect_insciption($couleur_primaire_vendeur, $nuance_primaire_vendeur);
}